{% extends 'base.html' %}
{% block content %}
<div class="container mx-auto py-12 flex justify-center">
  <div class="max-w-lg w-full">
    <h2 class="text-3xl font-semibold mb-6">Insurance Information</h2>
    <div class="bg-white rounded-lg overflow-hidden shadow-lg p-6">
      <h3 class="text-xl font-semibold mb-2">Company Name: {{ company_info.company_name }}</h3>
      <p class="text-lg"><strong>Yearly Insurance Premium:</strong> ${{ insurance_info.yearly_ins_prem }}</p>
      <p class="text-lg"><strong>House Built Year:</strong> {{ home_loan.house_built_year }}</p>
    </div>
  </div>
</div>
{% endblock %}
